#meta {
    font-family: monospace;
    font-size: 10;
    horizontal-align: right;
    vertical-align: top;
    margin: 5;
}

#container{
    background-color: #F7F6E5;
}

#outer-container{
    /*background-color: lightgreen;*/
    background-color: #F7F6E5;
}

.tree {
    horizontal-align: center;
    vertical-align: center;
}

Image {
    horizontal-align: left;
    vertical-align: top;
}

#btn-share {
    color: white;
    background-color: #808080;
    margin: 0 10 10 10;
    height: 40;
    border-radius: 6;
}
.greet {
    vertical-align: center;
    horizontal-align: center;
    font-family: Allura;
    font-size: 40;
    color: #FF3F3B;
}